@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,600,900);

@font-face {
  font-family:'GaramondPremrPro wp';
  src: url('../fonts/garamond/GaramondPremrPro-LtDisp_gdi.eot');
  src: url('../fonts/garamond/GaramondPremrPro-LtDisp_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/garamond/GaramondPremrPro-LtDisp_gdi.woff') format('woff'),
  url('../fonts/garamond/GaramondPremrPro-LtDisp_gdi.ttf') format('truetype'),
  url('../fonts/garamond/GaramondPremrPro-L tDisp_gdi.otf') format('opentype'),
  url('../fonts/garamond/GaramondPremrPro-LtDisp_gdi.svg#GaramondPremrPro-LtDisp') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'GaramondPremrPro wp';
  src: url('../fonts/garamond/GaramondPremrPro-It_gdi.eot');
  src: url('../fonts/garamond/GaramondPremrPro-It_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/garamond/GaramondPremrPro-It_gdi.woff') format('woff'),
  url('../fonts/garamond/GaramondPremrPro-It_gdi.ttf') format('truetype'),
  url('../fonts/garamond/GaramondPremrPro-It_gdi.otf') format('opentype'),
  url('../fonts/garamond/GaramondPremrPro-It_gdi.svg#GaramondPremrPro-It') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family:'GaramondPremrPro wp';
  src: url('../fonts/garamond/GaramondPremrPro-Med_gdi.eot');
  src: url('../fonts/garamond/GaramondPremrPro-Med_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/garamond/GaramondPremrPro-Med_gdi.woff') format('woff'),
  url('../fonts/garamond/GaramondPremrPro-Med_gdi.ttf') format('truetype'),
  url('../fonts/garamond/GaramondPremrPro-Med_gdi.otf') format('opentype'),
  url('../fonts/garamond/GaramondPremrPro-Med_gdi.svg#GaramondPremrPro-Med') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}


@font-face {
  font-family:'GaramondPremrPro  wp';
  src: url('../fonts/garamond/GaramondPremrPro-MedIt_gdi.eot');
  src: url('../fonts/garamond/GaramondPremrPro-MedIt_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/garamond/GaramondPremrPro-MedIt_gdi.woff') format('woff'),
  url('../fonts/garamond/GaramondPremrPro-MedIt_gdi.ttf') format('truetype'),
  url('../fonts/garamond/GaramondPremrPro-MedIt_gdi.otf') format('opentype'),
  url('../fonts/garamond/GaramondPremrPro-MedIt_gdi.svg#GaramondPremrPro-MedIt') format('svg');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}


@font-face {
  font-family:'GaramondPremrPro wp';
  src: url('../fonts/garamond/GaramondPremrPro-Bd_gdi.eot');
  src: url('../fonts/garamond/GaramondPremrPro-Bd_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/garamond/GaramondPremrPro-Bd_gdi.woff') format('woff'),
  url('../fonts/garamond/GaramondPremrPro-Bd_gdi.ttf') format('truetype'),
  url('../fonts/garamond/GaramondPremrPro-Bd_gdi.otf') format('opentype'),
  url('../fonts/garamond/GaramondPremrPro-Bd_gdi.svg#GaramondPremrPro-Bd') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}